html {
	background-color: #999;
	font-family: Georgia, Sans-Serif;
}
a {
	text-decoration: none;
	color: #042167;
}
a:visited {
	color: #370467;
}
a:hover {
	text-decoration: underline;
}


#header_content, #content, #footer {
	width: 700px;
	margin: auto;
}
