#header {
	border-bottom: 0.2em solid #888;
}
#header_content {
	width: 700px;
	position: relative;
}
#header #links {
	position: absolute;
	bottom: 4px;
	right: 0;
	text-transform: lowercase;
}
#header #links a {
	color: white;
}
