#content .loading {
	color: #666;
	font-size: 3em;
	text-align: center;
	margin-top: 2em;
	width: 970px;
}

#content a.product {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 1px;
	position: relative;
	line-height: 1;
}
#content a.product:hover {
	text-decoration: none;
}

#content a.product .unavailablemessage {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
}