#product_page {
	display: none;
}
#product_page.showing {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: auto;
}

#product_page .screen {
	background-color: black;
	position: fixed;
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
#product_page .next, #product_page .previous {
	position: absolute;
	z-index: 2;
	color: white;
	top: 50%;
	margin-top: -45px;
	height: 90px;
	width: 48px;
	color: transparent;
	opacity: 0.3;
}
#product_page .next:hover, #product_page .previous:hover {
	opacity: 1;
}
#product_page .next {
	background-image: url(../images/next-arrow.png);
	right: 0;
	margin-right: -48px;
}
#product_page .previous {
	background-image: url(../images/previous-arrow.png);
	left: 0;
	margin-left: -48px;
}
#product_page .product_display_container-border {
	position: absolute;
	top: 50%;
	height: 525px;
	margin-top: -262px;
	width: 100%;
}
#product_page #product_display_container {
	position: relative;
	height: 100%;
	display: inline-block;
	background-color: black;
	color: #999;
	z-index: 2;
	text-align: left;
}

#product_display_container img.productimage {
	margin-right: 250px;
	width: 700px;
	height: 525px;
}
#product_display_container .productinfo {
	position: absolute;
	right: 0;
	top: 0;
	width: 240px;
}
#product_display_container h2 {
	margin: 0;
}
#product_display_container .description {
	margin: 1em 0;
}
#product_display_container form {
	margin: 1em 0;
}
#product_display_container ul.imageselector {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#product_display_container ul.imageselector li {
	display: inline-block;
	margin: 0;
	padding-right: 5px;
}
#product_display_container ul.imageselector li img {
	width: 100px;
}