#content {
	width: 850px;
}

#content .loading {
	color: #666;
	font-size: 3em;
	text-align: center;
	margin-top: 2em;
	width: 970px;
}

#content a.product {
	display: inline-block;
	height: 113px;
	width: 150px;
	margin: 10px;
	position: relative;
}
#content a.product:hover {
	text-decoration: none;
}

#content a.product .unavailablemessage {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
}