#content .loading {
	color: #666;
	font-size: 3em;
	text-align: center;
	margin-top: 2em;
	width: 970px;
}

#content a.product {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	margin: 1px 1px;
	position: relative;
	line-height: 1;
	line-height: 213px;
	width: 284px;
	height: 213px;
}
#content a.product img {
	vertical-align: center;
	max-width: 284px;
	max-height: 213px;
}
#content a.product:hover {
	text-decoration: none;
}

#content a.product .unavailablemessage {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: black;
	line-height: 1;
}